<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Copias.Properties.Settings.copiasConnectionString"
            connectionString="Persist Security Info=false;SERVER=10.66.123.200;DATABASE=copias;UID=secac;pwd=secac"
            providerName="MySql.Data.MySqlClient" />
        <add name="Copias.Properties.Settings.copiasConnectionString1"
            connectionString="server=10.66.122.42;user id=secac;password=secac;database=copias"
            providerName="MySql.Data.MySqlClient" />
        <add name="Copias.Properties.Settings.copiasConnectionString2"
            connectionString="server=10.66.121.42;user id=secac;database=copias"
            providerName="MySql.Data.MySqlClient" />
        <add name="Copias.Properties.Settings.copiasConnectionString3"
            connectionString="server=10.66.121.42;user id=secac;password=secac;database=copias"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
